/* Globales */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono';
}

footer {
    font-family: 'Roboto Mono';
}

/* Fonts */
@font-face {
    font-family: 'Roboto Mono', monospace;
    src: url('./resources/font/RobotoMono-Regular.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono', monospace;
    src: url('./resources/font/RobotoMono-Bold.ttf');
    font-weight: bold;
}

.background {
    background-image: url('./resources/img/img10.png');
}

/* Header */
.navbar__container-logo {
    width: 70px;
    height: 80px;
    vertical-align: middle;
    float: left;
}

nav.navbar {
    background: #806783;
    height: 80px;
    width: 100%;
    position: fixed;
}

label.brand {
    color: #fff;
    font-size: 35px;
    line-height: 80px;
    padding: 0 20px;
    font-weight: bold;
}

nav.navbar ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav.navbar ul li a {
    color: #fff;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
}

a.active, a:hover {
    background: #d3a9d8;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* Main */
.galeria {
    padding-top: 80px;
}

.galeria__contenedor {
    /* position: absolute; */
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.galeria__contenedor-foto {
    width: 98%;
    border-radius: 30px;
} 

.bienvenida{
    padding: 10px 0;
    color: #2d242e;
}

.bienvenida__contenido {
    background-color: #806783;
    color: #fff;
    text-align: center;
}

.bienvenida__contenido h1{
    font-size: 50px;
    color: #fff;
}

.bienvenida__contenido h2{
    font-size: 35px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.muestra__contenido{
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    margin: 0 20px;
}

.muestra__contenido-info1{
    background-color: #806783;
    margin-right: 10px;
    color: #fff;
    text-align: center;
    font-size: 30px;
    border-radius: 30px;
}

.muestra__contenido-info1-img{
    padding-top: 50px;
    width: 500px;
    height: 350px;
}

.muestra__contenido-video iframe{
    position: absolute;
    border-radius: 30px;
    width: 100%;
    height: 100%;     
}

.muestra__contenido-info2{
    background-color: #806783;
    margin-left: 10px;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    font-size: 30px;
    border-radius: 30px;
}

/* Footer */
footer {
    background-color: #806783;
    height: 80px;
    width: 100%;
}

.navfooter {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10px;
}

.navfooter__contenido img {
    width: 50px;
    margin: 10px;
    float: left;
}

.navfooter__contenido a {
    text-decoration: none;
}

label.autor {
    display: flex;
    color: #fff;
    font-size: 12px;
    /* float: left; */
    align-items: center;
}

label.brandFooter {
    color: #fff;
    font-size: 20px;
    line-height: 80px;
    padding: 0 20px;
    font-weight: bold;
    float: left;
    cursor: pointer;
}

/* Responsive */
@media (max-width: 1200px) {
    .muestra__contenido{
        grid-template-columns: repeat(1, 1fr);
    }

    .muestra__contenido-info1 {
        font-size: 25px;
    }       
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }

    .bienvenida__contenido h1{
        font-size: 40px;
    }

    .bienvenida__contenido h2{
        font-size: 25px;
    }

}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #806783;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover, a.active {
        background: none;
        color: #fff;
    }
    #check:checked ~ ul {
        left: 0;
    }

    .bienvenida__contenido h1{
        font-size: 30px;
    }

    .bienvenida__contenido h2{
        font-size: 20px;
    }

}