.mainDetails {
    & .sectionDetails {
        & .containerDetails {
            &-span {
                display: flex;
                justify-content: center;
                align-items: center;

                & p {
                    font-size: 40px;
                    font-weight: bold;
                    text-align: center;
                }
            }
        }
    }
}