.mainIndex {
    .galeria {
        padding-top: 80px;
    
        &__contenedor {
            display: flex;
            justify-content: center;
            padding-top: 20px;
    
            &-foto {
                width: 98%;
                border-radius: 30px;
            }
        }
    }

    .bienvenida {
        padding: 10px 0;
        color: #2d242e;

        &__contenido {
            background: linear-gradient(-135deg, #2D033B, #C147E9);
            color: #fff;
            text-align: center;

            & h1 {
                font-size: 50px;
            }

            & h2 {
                font-size: 35px;
                padding-bottom: 10px;
                padding-top: 10px;
            }
        }
    }

    .muestra__contenido {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-around;
        margin: 0 20px;

        &-info1 {
            background: linear-gradient(-135deg, #2D033B, #C147E9);
            margin-right: 10px;
            text-align: center;
            font-size: 30px;
            border-radius: 30px;

            & p {
                padding: 10px;
            }

            &-img {
                padding-top: 20px;
                margin-left: 50px;
                width: 500px;
                height: 350px;
                float: left;
            }
        }

        &-info1 a:visited {
            text-decoration: none;
            color: #fff;
        }

        &-video {
            padding-bottom:56.25%;
            position:relative;
            display:block;
            width: 100%;

            & iframe {
                position: absolute;
                border-radius: 30px;
                width: 100%;
                height: 100%;
            }
        }

        &-info2 {
            background: linear-gradient(-135deg, #2D033B, #C147E9);
            margin-left: 10px;
            text-align: center;
            font-size: 30px;
            border-radius: 30px;

            & p {
                padding: 10px;
            }

            &-img {
                width: 300px;
                float: left;
                margin-left: 150px;
            }
        }

        &-info2 a:visited {
            text-decoration: none;
            color: #fff;
        }
    }
}

@media (max-width: 576px) {
    .mainIndex {
        .bienvenida {
            &__contenido {
                & h1 {
                    font-size: 25px;
                }

                & h2 {
                    font-size: 18px;
                }
            }
        }

        .muestra__contenido {
            grid-template-columns: repeat(1, 1fr);
            
            &-info1 {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 15px;
                margin: 10px 0;

                &-img {
                    padding-top: 0px;
                    width: 250px;
                    height: 175px;
                    margin-left: 25%;
                }
            }

            &-video {
                margin: 10px 0;
            }

            &-info2 {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 15px;
                margin: 10px 0;

                &-img {
                    width: 35%;
                    margin-left: 170px;
                }
            }
        }
    }

    /*Responsive contact */
    .container {
        max-width: 100%;
    }
    /* .container form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    } */

    /* .user-details::-webkit-scrollbar {
        width: 0;
    } */

    .container form .contact__details,
    .container form .input-box  {
        /* display: grid; */
        grid-template-columns: repeat(1, 1fr);
        /* margin: 20px 0 12px 10px; */
        /* text-align: left; */
        /* line-height: 40px; */
}
}

/* Responsive*/
@media (max-width: 1200px) {
    .muestra__contenido{
        grid-template-columns: repeat(1, 1fr);
    }

    .muestra__contenido-info1{
        margin-right: 0;
        margin-bottom: 10px;
        font-size: 25px;
    }

    .muestra__contenido-info1-img{
        margin-left: 25%;
    }

    .muestra__contenido-video {
        padding-bottom:50%;
    }

    .muestra__contenido-info2{
        font-size: 25px;
        margin-left: 0;
        margin-top: 10px;
    }

    .muestra__contenido-info2-img{
        margin-left: 35%;
    }
}

@media (max-width: 992px) {
    label.brand {
        font-size: 30px;
    }

    nav.navbar ul li a {
        font-size: 15px;
    }

    .bienvenida__contenido h1{
        font-size: 40px;
    }

    .bienvenida__contenido h2{
        font-size: 25px;
    }

    .muestra__contenido-info1{
        font-size: 20px;
    }

    .muestra__contenido-info1-img{
        margin-left: 15%;
    }

    .muestra__contenido-info2{
        font-size: 20px;
    }

    .muestra__contenido-info2-img{
        margin-left: 30%;
    }

}

@media (max-width: 768px) {
    
    .checkbtn {
        display: block;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: linear-gradient(135deg, #C147E9, #2D033B);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    /* a:hover, a.active {
        background: none;
    } */

    #check:checked ~ ul {
        left: 0;
    }

    .bienvenida__contenido h1{
        font-size: 30px;
    }

    .bienvenida__contenido h2{
        font-size: 20px;
    }

    .muestra__contenido-info1-img{
        margin-left: 10%;
    }

    .muestra__contenido-info2-img{
        margin-left: 25%;
    }

    label.brandFooter {
        font-size: 20px;
        line-height: 70px;
    }

}



@media (max-width: 350px) {
    label.brand {
        font-size: 15px;
    }

    label.brandFooter {
        font-size: 10px;
        line-height: 30px;
    }

    .muestra__contenido-info1-img{
        width: 150px;
        height: 80px;
    }

    .navfooter__contenido img {
        width: 25px;
        margin: 2px;
    }
}