// Estilos detalle de productos
main {
    padding-bottom: 2px;

    & .container {
        padding-top: 90px;

        &__products {
            padding: 0 150px;

            &-title {
                text-align: center;
                color: #fff;                
                margin: 10px 0;
                font-size: 25px;
                background: linear-gradient(135deg, #C147E9, #2D033B);
                border-radius: 20px;
            }

            &-images {
                display: flex;
                width: 100%;
                margin: 20px 0;

                & .left {
                    width: 50%;

                    & .big-img {
                        width: 100%;

                        & img {
                            width: inherit;
                            background: #fff;
                            border-radius: 20px;
                        }
                    }

                    & .images {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        margin-top: 15px;

                        & .small-img {
                            width: 115px;
                            overflow: hidden;
                            background: #fff;
                            border-radius: 5px;

                            & img {
                                width: inherit;
                                cursor: pointer;
                                transition: all 0.3s ease;
                            }
                        }

                        & .small-img:hover {
                            & img {
                                transform: scale(1.2);
                            }
                        }
                    }
                }

                & .right {
                    width: 50%;
                    padding: 0 10px;

                    & .tree {
                        font-size: 16px;
                        font-weight: bold;
                        color: #2D033B;

                        & a {
                            color: #2D033B;
                        }
                    }

                    & .ratings i {
                        color: #ff8500;
                    }

                    & .price {
                        font-size: 25px;
                        font-weight: bold;
                        margin: 20px 0;
                        color: #2D033B;
                    }

                    & .quantity {
                        display: flex;
                        align-items: center;

                        & p {
                            color: #2D033B;
                            font-size: 18px;
                            font-weight: bold;
                        }

                        & input {
                            width: 50px;
                            height: 30px;
                            font-size: 17px;
                            text-align: center;
                            margin-left: 15px;
                            font-family: 'Roboto Mono', monospace;
                            border: 1px solid #d3a9d8;
                        }
                    }

                    & .description {
                        color: #2D033B;
                        padding: 5px 0;
                        text-align: justify;

                        & p {
                            color: #2D033B;
                            padding: 2px 0;
                        }
                    }

                    & .btn-box {
                        display: flex;
                        justify-content: space-evenly;
                        margin-top: 30px;

                        & .buy-btn {
                            display: grid;
                            justify-content: center;
                            height: 35px;
                            margin: 10px 0;

                            & input {
                                padding: 0 10px;
                                height: 100%;
                                color: #fff;
                                border: none;
                                font-size: 16px;
                                border-radius: 5px;
                                letter-spacing: 1px;
                                background: #2D033B;
                                transition: transform 0.5s;
                                cursor: pointer;
                            }
                            
                            & input:hover {
                                transform: scale(1.1);
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {
    main {
        & .container {
            &__products {
                padding: 0 20px;

                &-title {          
                    font-size: 18px;
                }

                &-images {
                    display: grid;

                    & .left {
                        width: 100%;
                    }

                    & .right {
                        width: 100%;
                        
                        & .tree {
                            padding: 10px 0;
                        }
                    }
                }
            }
        }       
    }   
}