footer {
    height: 100%;
    width: 100%;

    & .navfooter {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 10px;
        background: linear-gradient(-135deg, #2D033B, #C147E9);

        &__contenido {
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            &-social {
                display: flex;
                justify-content: left;
                align-items: center;

                & img {
                    width: 40px;
                    margin: 10px;
                }
            }

            &-brand {
                display: flex;
                justify-content: center;
                align-items: center;
                float: left;
                text-decoration: none;

                & a {
                    background: none;
                }

                & img {
                    width: 100px;
                }

                & label {
                    color: #fff;
                    font-size: 30px;
                    font-weight: bold;
                    padding: 0 20px;
                    cursor: pointer;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    footer {
        .navfooter {
            &__contenido {
                grid-template-columns: repeat(2, 1fr);

                &-brand {
                    & img {
                        width: 70px;
                    }

                    & label {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}