/* Header */
nav {
    &.navbar {
        background: linear-gradient(135deg, #C147E9, #2D033B);
        height: 80px;
        width: 100%;
        position: fixed;
        z-index: 1;

        & ul {
            float: right ;
            margin-right: 20px;
        }

        & ul li a {
            color: #fff;
            font-size: 17px;
            padding: 7px 13px;
            border-radius: 3px;
        }

        & .navbar__container {
            &-logo {
                width: 70px;
                height: 80px;
                vertical-align: middle;
                float: left;
            }

            & label {
                &.brand {
                    color: #fff;
                    font-size: 35px;
                    line-height: 80px;
                    padding: 0 20px;
                    font-weight: bold;
                }
            }

            & a.active, a:hover {
                background: #f9d8fb;
                transition: all 0.5s ease;
            }

            & .checkbtn {
                font-size: 30px;
                color: #fff;
                float: right;
                line-height: 80px;
                margin-right: 40px;
                cursor: pointer;
                display: none;
            }

            & #check {
                display: none;
            }
        }
    }

    & ul li {
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
    }
}

/* Responsive*/
@media (max-width: 576px) {
    nav {
        & ul li {
            display: block;
            margin: 50px 0;
            line-height: 30px;
        }
        & ul li a {
            font-size: 20px;
        }

        &.navbar {
            & ul {
                position: fixed;
                width: 100%;
                height: 100vh;
                background: linear-gradient(135deg, #C147E9, #2D033B);
                top: 80px;
                left: -100%;
                text-align: center;
                transition: all 0.5s;
            }
            & .navbar__container {
                & label {
                    & .brand {
                        font-size: 25px;
                    }
                }
                & .checkbtn {
                    display: block;
                }

                & #check:checked ~ ul {
                    left: 0;
                }
            }
        }
    }
}